:root{
 
    --fuenteHeading:'Arima Madurai', cursive;
    --fuenteParrafos: 'Mulish'. sans-serif;


    --primario: #784d3c;
    --gris:#e1e1e1;
    --blanco:#ffffff;
    --negro:#000000;


}

html{
    box-sizing: border-box; /* para que no afecten el ancho de nuestros elementos */
    font-size: 62.5%; /*para usar 10 px = 1rem */
}

*, *:before, *::after{
    box-sizing: inherit;
}

body{
    font-family: var(--fuenteParrafos);
    font-size: 1.6rem;
    line-height: 1.5;
    background-color: #f2f2f2;
}


/**+++++++++            globales           ++++++++**/

.contenedor{
    max-width: 160rem;
    width: 85%;
    margin: 0 auto; /* centro auto todos los contenedores */
}

a{
    text-decoration: none;

}

h1,h2,h3,h4{
    font-family: var(--fuenteHeading);
    line-height: 1.4;
}
p{
    font-size: 2rem;
}
h1{
    font-size: 4.8rem
}
h2{
    font-size: 4rem
}
h3{
    font-size: 3.2rem
}
h4{
    font-size: 2.8rem
}


img {
    max-width:100%;
}

/******** utilidades *********/

.no-margin{
    margin: 0;
}
.no-padding{
    padding: 0;
}
.centrar-texto{
    text-align: center;
}

.espaciolineas{
    line-height:2;
    font-size: 2rem;
}

.padding{
    padding-bottom: 4rem;
}
/*************** header *************/

.header {
    background-image: url(../img/header2.jpg)  ;
   
    height: 60rem;
    background-size: cover;
    background-repeat:  no-repeat;
    background-position:top bottom; /*para que nos muestre cuando se achique la parte de arriba de la imagen y la derecha */

    
    
}




.logoresto{ 
    height: 10rem;
    width: 10rem;
    border-radius:50%;
}

.logoTitle{
    
    font-weight: 700;
    font-family: var(--fuenteHeading);
    font-size: 2rem;
    margin-top: -10px;
    margin-left: -13px;
    color: white;
    font-family:  Georgia, 'Times New Roman', Times, serif;
}


.header__texto{
    text-align: center;
    color: var(--blanco);
  
    
}




@media (min-width: 768px) {
    .header__texto{
        margin-top: 20rem;
    }
    
}


@media (min-width: 768px) {
    .barra{
        display: flex;
        justify-content:space-between ;
        align-items: center;
    }
}

.barra{
    padding-top: 2rem;
}
@media (min-width: 768px) {
    .navegacion{
        display: flex;
    }    
}


.navegacion__enlace{
    display: block;
    text-align: center;
    font-size: 2.5rem;
    color: var(--blanco);
    margin: 10px;
}

.navegacion__enlace:focus{
    background-color: #ee8309;
}
.navegacion__enlace:active{
    color: #000000;
}
.navegacion__enlace:hover{
    background-color: #ee8309;
    border-radius: 20px;
}




/****              MAIN +++++++++++++++++++ *******/

body{
  
 background-color: #000000;
}

.hello{
   
        background-image: linear-gradient(to right, red, orange, yellow,red,yellow,orange,red);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: 5rem;
      
}

.hello2{
   
    background-image: linear-gradient(to right, red, orange, yellow,red,yellow,orange,red);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  
}
.tamaño2{
    height: 50rem;
    width: 80;
    border-radius: 10%;
}


.articulo__primero{
    display: grid;
    grid-template-rows: repeat(1, 1fr);
}
@media (min-width: 768px) {
    .articulo__primero{
        display: grid;
        grid-template-rows: repeat(1, 1fr);
    }
}

ul li{
    color:#ffffff;

}

p  {
    text-align: justify;
    color: #f2f2f2;
}



@media (min-width: 768px) {
    .contenido-principal{
        display: grid; 
        column-gap: 4rem;
    }

    
}



@media (min-width: 768px) {
    .entrada{
        display: grid;
        grid-template-columns: 1fr 1fr;
      /*  border-bottom: 1px solid var(--gris);*/
      border-bottom: 1px solid rgba(255,200,38,1);
       
        
        margin-bottom: 2rem;
        
    }

    
}



.entrada__contenido{
    align-self: center;
   
}


.tamaño{
  border-radius:2% ;
  ;
}

.entrada__imagen{
    align-items: center;
    padding: 2rem;
    ;
   
}

.entrada:last-of-type{ /* para que el ultmo entrada no tenga linea */
    border:none;
    margin-bottom: 0;
}



.boton{

    display: block;
    font-family: var(--fuenteHeading);
    color: var(--blanco);
    text-align: center;
    padding: 1rem 3rem;
    font-size: 1.8rem;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 2rem ;
}
.boton:hover{
    transition: all 360.2ms;
    transform: scale(1.1);
    
  
}

@media (min-width: 768px) {
    .boton{
        display: inline-block;
    }

}


.boton--primario{
   /* background-color: var(--negro);*/
    background-image: linear-gradient(to right, #ff0000, #ffff00);

}



.boton--menu{
    /* background-color: var(--negro);*/
     background-image: linear-gradient(to right, #daaf55, #ee8309,  #daaf55);
     border-radius: 20px;
 
 }

.boton--secundario{
    background-color: var(--primario);

}


.entrada p{
    align-content: center;
    align-items: center;
    width: auto;
}


/* UBICACION */







  

  .mapa{
    color: #f2f2f2;
   
  }


  .mapa-contenido{
    margin: 2rem;
}
  

  @media (min-width: 768px) {
    .mapa-contenido{
        margin: 3rem;
        box-shadow: 10px 10px 10px 10px #f88d02;
    
    }
    
  }


/* /*platillos*/


.menu{
    padding-top: 4rem;
}

.texto-platillos{
    text-align: center;
    font-size: 5rem;
    
}

.botones-platillos{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
}
.botones-platillos button{
    flex: 0 0 calc(50% - 1rem);
    padding: 1rem 3rem;
    margin: 0.5rem;
    color:#000000;
    font-weight: 700;
    font-size: large;
}
@media(min-width: 768px) {
    .botones-platillos{
        display: inline-block;
    }
    .botones-platillos button{
        flex: unset;
    }
}
@media(min-width: 768px) {
    .platillos{
        display: flex;
        justify-content: space-between;
        flex-wrap:wrap;
        margin-top: 4rem;
        
    }
}
.platillo{
    flex: 0 0 calc(33.3% - 1rem);
    border: 1px solid #f88d02;
    margin-top: 5rem;
    padding: 1rem;
    border-radius: 5px;
}
.platillo h2{
    text-align: center;
    color: var(--blanco);
}
.platillo p{
    font-size: 1.8rem;
}
.precio{
    display: flex;
    justify-content: center;
}
.precio p{
    font-weight: bold;
    font-size: 2rem;
    
    
}
.precio button{
    padding:1rem;
    border-radius: 5px;
    border: none;
    background-color: var(--rojo);
    color: var(--blanco);
    height: 3.8rem;
    text-align: center;
}

/*                        *footer   *************************/




  
.footer{
    display: flex;
    background: rgba(255,200,38,1);
    background: -moz-linear-gradient(top, rgba(255,200,38,1) 0%, rgba(244,194,1,1) 19%, rgba(255,163,38,1) 40%, rgba(240,47,23,1) 71%, rgba(255,37,37,1) 98%, rgba(255,37,37,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,200,38,1)), color-stop(19%, rgba(244,194,1,1)), color-stop(40%, rgba(255,163,38,1)), color-stop(71%, rgba(240,47,23,1)), color-stop(98%, rgba(255,37,37,1)), color-stop(100%, rgba(255,37,37,1)));
    background: -webkit-linear-gradient(top, rgba(255,200,38,1) 0%, rgba(244,194,1,1) 19%, rgba(255,163,38,1) 40%, rgba(240,47,23,1) 71%, rgba(255,37,37,1) 98%, rgba(255,37,37,1) 100%);
    background: -o-linear-gradient(top, rgba(255,200,38,1) 0%, rgba(244,194,1,1) 19%, rgba(255,163,38,1) 40%, rgba(240,47,23,1) 71%, rgba(255,37,37,1) 98%, rgba(255,37,37,1) 100%);
    background: -ms-linear-gradient(top, rgba(255,200,38,1) 0%, rgba(244,194,1,1) 19%, rgba(255,163,38,1) 40%, rgba(240,47,23,1) 71%, rgba(255,37,37,1) 98%, rgba(255,37,37,1) 100%);
    background: linear-gradient(to bottom, rgba(255,200,38,1) 0%, rgba(244,194,1,1) 19%, rgba(255,163,38,1) 40%, rgba(240,47,23,1) 71%, rgba(255,37,37,1) 98%, rgba(255,37,37,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffc826', endColorstr='#ff2525', GradientType=0 );
    padding-bottom: 3rem;
    margin-top: 4rem;;
    align-items: center;
    justify-content: center;
    
    
}
.container{
    
    width:95%;
    max-width:900px;
    padding:32px 64px;
    margin:auto;
}

.svg{
    height: 8rem;
}

footer p {
    color: #000000;
}


.barra2{
    display: block;
    padding: 3rem ;
    width: 100%;
    align-content: center;
    flex-wrap: wrap;
    align-items: center;
    align-self: center;
    align-content: center;
    
   
}

.logofooter{
    align-items: center;
    justify-content: center;
    
}

/*
@media (max-width:768px ) {
    .barra2{
        display: block;
        padding: 3rem ;
        width: 100%;
        align-content: center;
        flex-wrap: wrap;
        align-items: center;
        align-self: center;
        align-content: center;
        
       
    }
    
}
*/
@media (min-width: 768px) {
    .barra2{
        padding-top: 3rem;
        padding-left: 6rem;
        width: 100%;
        display: flex;
        justify-content:space-around ;
        align-items: center;
    }

}


.pie-pagina{
    margin-top: 5rem;
    background-color: rgb(20,20,20);
    padding: 5rem;
}
@media(min-width:768px){
    .contenedor-piepagina{
        display: flex;
        justify-content: space-between;
    }

}
.info{
    flex: 0 0 calc(25% - 1rem);
    margin-bottom: 2rem;
}
.info h3, .info p{
    color: var(--blanco);
    text-align: center;
}
.info h3{
    font-size: 2.2rem;
}
.info p{
    font-size: 1.8rem;
}

.redes-pie{
    text-align: center;
}
.info input[type="email"]{
    font-family: var(--parrafos);
    display: inline-block;
    margin-bottom: 1rem;
    padding: 1rem;
    border-radius: 5px;
    outline: none;
    width: 100%;
}

.info input[type="submit"]{
    padding: .5rem 2rem;
    font-size: 1.8rem;
    border-radius: 0;
}
.footer{
    text-align: center;
    background-color: var(--oscuro);
    color: var(--blanco);
    padding: 2rem;
    font-size: 2rem;
}


/***********    sobre Nosotros  ***************/

.sn{
    color: #f2f2f2;
}


.contenedor--sobre_nosotros{
display: grid;


}


