:root{
    --fuenteHeading: 'PT Sans', sans-serif;
    --fuenteParrafos: 'Open Sans', sans-serif;

    --primario: #784d3c;
    --gris:#e1e1e1;
    --blanco:#ffffff;
    --negro:#000000;


}

html{
    box-sizing: border-box; /* para que no afecten el ancho de nuestros elementos */
    font-size: 62.5%; /*para usar 10 px = 1rem */
}

*, *:before, *::after{
    box-sizing: inherit;
}

body{
    font-family: var(--fuenteParrafos);
    font-size: 1.6rem;
    line-height: 1.5;
    background-color: #f2f2f2;
}


/**+++++++++            globales           ++++++++**/

.contenedor{
    max-width: 160rem;
    width: 85%;

    margin: 0 auto; /* centro auto todos los contenedores */
}

a{
    text-decoration: none;
}

h1,h2,h3,h4{
    font-family: var(--fuenteHeading);
    line-height: 1.2;
}

h1{
    font-size: 4.8rem
}
h2{
    font-size: 4rem
}
h3{
    font-size: 3.2rem
}
h4{
    font-size: 2.8rem
}


img {
    max-width:100%;
}

/******** utilidades *********/

.no-margin{
    margin: 0;
}
.no-padding{
    padding: 0;
}
.centrar-texto{
    text-align: center;
}


/*************** header *************/

.header {
    background-image: url(../img/header2.jpg) ;
    height: 60rem;
    background-size: cover;
    background-repeat:  no-repeat;
    background-position:top bottom; /*para que nos muestre cuando se achique la parte de arriba de la imagen y la derecha */

    
    
}




.logoresto{ 
    height: 10rem;
    width: 10rem;
    border-radius:50%;
}

.logoTitle{
    
    font-weight: 700;
    font-family: var(--fuenteHeading);
    font-size: 2rem;
    margin-top: -10px;
    margin-left: -13px;
    color: white;
    font-family:  Georgia, 'Times New Roman', Times, serif;
}


.header__texto{
    text-align: center;
    color: var(--blanco);
  
    
}




@media (min-width: 768px) {
    .header__texto{
        margin-top: 20rem;
    }
    
}


@media (min-width: 768px) {
    .barra{
        display: flex;
        justify-content:space-between ;
        align-items: center;
    }
}

.barra{
    padding-top: 2rem;
}
@media (min-width: 768px) {
    .navegacion{
        display: flex;
    }    
}


.navegacion__enlace{
    display: block;
    text-align: center;
    font-size: 1.8rem;
    color: var(--blanco);
    margin: 10px;
}

/****              MAIN +++++++++++++++++++ *******/

body{
  
 background-color: #000000;
}

p  {
    text-align: justify;
    color: #f2f2f2;
}


@media (min-width: 768px) {
    .contenido-principal{
        display: grid; 
        column-gap: 4rem;
    }

    
}



@media (min-width: 768px) {
    .entrada{
        display: grid;
        grid-template-columns: 1fr 1fr;
        border-bottom: 1px solid var(--gris);
        margin-bottom: 2rem;
        
    }

    
}



.entrada__contenido{
    align-self: center;
   
}


.tamaño{
  border-radius:2% ;
}

.entrada__imagen{
    align-items: center;
    padding: 2rem;
   
}

.entrada:last-of-type{ /* para que el ultmo entrada no tenga linea */
    border:none;
    margin-bottom: 0;
}



.boton{

    display: block;
    font-family: var(--fuenteHeading);
    color: var(--blanco);
    text-align: center;
    padding: 1rem 3rem;
    font-size: 1.8rem;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 2rem ;
}
.boton:hover{
    transition: all 360.2ms;
    transform: scale(1.1);
    
  
}

@media (min-width: 768px) {
    .boton{
        display: inline-block;
    }

}


.boton--primario{
   /* background-color: var(--negro);*/
    background-image: linear-gradient(to right, #ff0000, #ffff00);

}

.boton--secundario{
    background-color: var(--primario);

}


.entrada p{
    align-content: center;
    align-items: center;
    width: auto;
}

/* UBICACION */





/** Tarjetas Restaurante **/

.main-menu{
    color: #f2f2f2;
}

.main-menu nav a{
    align-content: center;
    background-color: #f89f10;
    border-bottom:0 2px 2px 0 solid #ffff00;
    padding: 0.5rem;
}
@media (min-width: 768px) {
    .main-menu nav a{
        align-content: center;
    background-color: #f89f10;
    border-bottom: 2px solid #ffff00;
    padding: 0.5rem;
    }
}

.menu-nav{
    flex-wrap: wrap;
    align-content: center;
}

.title-plato-carta p, h4{
    color: white;
}
.wrap{
   
    max-width:90%;
    /*max-width: 1200px;*/
    margin: 0 auto;

  }
@media (min-width: 768px) {
    .wrap{
        max-width:100%;
        /*max-width: 1200px;*/
        margin: 0 auto;
      }
}  


  .column-2.carta{
    display: grid;
    align-items: center;
    justify-content:center;
    align-items:center;
    grid-template-columns: repeat(1,1fr);
    row-gap: 1rem;
  }

  @media (min-width: 768px) {
    .column-2.carta{
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 1rem;
        margin-bottom: 1rem;
        
    }

    
}


  
  
  .plato-carta{
    display: flex;
    align-items: center;
    border: 1px solid #e5e5e5;
    border-radius: 6px;
    padding: 1rem;
  }
  
  .img-plato-carta{
    display: flex;
    flex-basis: 25%;
    justify-content: center;
  }
  
  .img-plato-carta img{
    max-width: 30rem;
    max-height: 30rem;
    border-radius: 20px;
    margin-bottom: 1rem;
  }
  
  .title-plato-carta{
    border-bottom: none;
    border-top: none;
    flex-basis: 60%;
    padding: 1rem;
  }
  /*
  .precio-plato-carta{
    display: flex;
    flex-basis: 15%;
    justify-content: center;
    font-weight: bold;
  }
*/
/* este lo piso porque mande una mq abaj
  @media (max-width:680px){
    .column-2.carta{
      grid-template-columns: repeat(1,1fr);
    }
  }*/

  .mapa{
    color: #f2f2f2;
   
  }


  .mapa-contenido{
    margin: 3rem;
}
  

  @media (min-width: 768px) {
    .mapa-contenido{
        margin: 3rem;
        box-shadow: 10px 10px 10px 10px #f5b504;
    
    }
    
  }



  

/*                        *footer   *************************/




  
.footer{
    display: flex;
   
  
background: rgba(255,200,38,1);
background: -moz-linear-gradient(top, rgba(255,200,38,1) 0%, rgba(244,194,1,1) 19%, rgba(255,163,38,1) 40%, rgba(240,47,23,1) 71%, rgba(255,37,37,1) 98%, rgba(255,37,37,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,200,38,1)), color-stop(19%, rgba(244,194,1,1)), color-stop(40%, rgba(255,163,38,1)), color-stop(71%, rgba(240,47,23,1)), color-stop(98%, rgba(255,37,37,1)), color-stop(100%, rgba(255,37,37,1)));
background: -webkit-linear-gradient(top, rgba(255,200,38,1) 0%, rgba(244,194,1,1) 19%, rgba(255,163,38,1) 40%, rgba(240,47,23,1) 71%, rgba(255,37,37,1) 98%, rgba(255,37,37,1) 100%);
background: -o-linear-gradient(top, rgba(255,200,38,1) 0%, rgba(244,194,1,1) 19%, rgba(255,163,38,1) 40%, rgba(240,47,23,1) 71%, rgba(255,37,37,1) 98%, rgba(255,37,37,1) 100%);
background: -ms-linear-gradient(top, rgba(255,200,38,1) 0%, rgba(244,194,1,1) 19%, rgba(255,163,38,1) 40%, rgba(240,47,23,1) 71%, rgba(255,37,37,1) 98%, rgba(255,37,37,1) 100%);
background: linear-gradient(to bottom, rgba(255,200,38,1) 0%, rgba(244,194,1,1) 19%, rgba(255,163,38,1) 40%, rgba(240,47,23,1) 71%, rgba(255,37,37,1) 98%, rgba(255,37,37,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffc826', endColorstr='#ff2525', GradientType=0 );

    padding-bottom: 3rem;
    margin-top: 4rem;;
    
}
.container{
    
    width:95%;
    max-width:900px;
    padding:32px 64px;
    margin:auto;
}

.svg{
    height: 5rem;
}

footer p {
    color: #000000;
}

.barra2{
    padding-top: 3rem;
    width: 90%;
    display: flex;
    justify-content:space-around ;
    align-items: center;
}


